* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Gabriola;
  /*Para navegadores Internet Explorer*/
  src: url('css/gabrielle.ttf');
  font-weight: normal;
  font-style: normal;
}

a {
  color: #ff7afc;
}

td {
  padding-top: 20px;
}

@media screen and (max-width: 767px) {
  #nome {
    background: #cfc8f3;
    border: 1px solid #a981eb;
    border-radius: 5px;
    padding-top: 50px;
    width: 101%;
    margin-left: -1px;
  }
  #nome p {
    font-family: Gabriola;
    font-weight: bold;
    color: #ce57ef;
    font-size: 18px;
    text-align: center;
  }
  h1.title {
    /* font-family: Gabriola; */
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    text-align: center;
  }
  div#box-um {
    float: left;
    margin-top: 10px;
    margin-left: -13px;
    width: 110%;
    height: 120%;
    background: #a981eb;
    border: 1px solid #a981eb;
    border-radius: 7px;
    padding: 10px 10px;
  }
  div#box-um div#janelaFotos-um {
    width: 99%;
    height: 800%;
    background: #e9e9e9;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    padding: 3px 3px;
  }
  div#box-um div#janelaFotos-um p {
    text-align: justify;
    padding: 15px;
    text-indent: 35px;
    font-family: Gabriola;
    font-size: 16px;
    width: 95%;
  }
  div#box-um div#janelaFotos-um p#um {
    text-align: justify;
    padding: 25px;
    text-indent: 35px;
    font-family: Gabriola;
    font-size: 16px;
  }
  div#box-um div#texto-tres {
    float: left;
    margin-top: 12px;
    padding: 10px 10px;
    width: 99%;
    height: 60%;
    background: #e9e9e9;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
  }
  div#box-um div#texto-tres p {
    text-align: justify;
    padding: 5px;
    text-indent: 35px;
    font-family: Gabriola;
    font-size: 16px;
    color: #000000;
  }
  div.dados span.onze {
    float: left;
    margin-left: 195px;
    margin-top: 245px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ce57ef;
    font-size: 22px;
    list-style-type: disc;
    position: absolute;
  }
  span#link {
    float: left;
    margin-left: -105px;
    margin-top: 15px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ce57ef;
    font-size: 28px;
    list-style-type: disc;
    position: absolute;
  }
  div#fotos-b {
    float: left;
    margin-top: 595px;
    margin-left: 620px;
    width: 390px;
    height: 310px;
    background: #e9e9e9;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    position: absolute;
    padding: 5px;
  }
  .fotos-um {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .fotos-um ul li {
    list-style: none;
  }
  .fotos-um ul li img {
    list-style: none;
    padding: 5px 5px;
  }
  .fotos-doisB {
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    height: 385px;
    width: 92%;
    overflow: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .fotos-dois span#dados-dois {
    float: left;
    margin-left: -2px;
    margin-top: 7px;
    font-family: Tahoma;
    font-weight: bold;
    /* color: #ce57ef; */
    font-size: 16px;
    list-style-type: disc;
  }
  .fotos-dois ul {
    float: left;
    margin-left: -19px;
    margin-top: -57px;
    font-family: Gabriola;
    font-weight: bold;
    color: #ce57ef;
    font-size: 16px;
    list-style-type: disc;
    display: inline;
    padding: 5px 10px;
    height: 2px;
  }
  .fotos-dois ul li.item {
    float: right;
    margin-left: -5px;
    margin-top: 65px;
    font-family: Gabriola;
    font-weight: bold;
    color: #ce57ef;
    font-size: 16px;
    list-style-type: disc;
  }
  .fotos-dois ul li.item-um {
    float: right;
    margin-left: -30px;
    margin-top: 49px;
    font-family: Arial;
    font-weight: bold;
    color: #ce57ef;
    font-size: 16px;
    list-style-type: disc;
    display: inline;
  }
  .fotos-dois span#dados-seis {
    float: left;
    margin-left: 0px;
    margin-top: 12px;
    font-family: arial;
    font-weight: bold;
    color: #ce57ef;
    font-size: 14px;
    list-style-type: disc;
  }
  div#fotos-dois li {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    list-style: none;
    overflow: hidden;
  }
  div#fotos-tres {
    float: left;
    margin-top: 1365px;
    margin-left: 620px;
    width: 390px;
    height: 300px;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    position: absolute;
  }
  div#fotos-tres li {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    list-style: none;
    overflow: hidden;
  }
  div#fotos-quatro {
    float: left;
    margin-top: 1805px;
    margin-left: 410px;
    width: 390px;
    height: 300px;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    position: absolute;
  }
  div#fotos-quatro li {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    list-style: none;
    overflow: hidden;
  }
  div#texto-dois {
    float: left;
    margin-top: 620px;
    margin-left: 620px;
    width: 400px;
    height: 400px;
    background: #e9e9e9;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    position: absolute;
  }
  div#texto-dois div#foto-dois {
    float: left;
    margin-left: 5px;
    margin-top: 40px;
  }
  div#texto-dois p {
    text-align: justify;
    padding: 15px;
    text-indent: 35px;
    font-family: Gabriola;
    font-size: 28px;
  }
  a#link-um {
    text-decoration: none;
    color: #000000;
  }
  div#espaco {
    float: left;
    width: 300px;
    height: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }
  div#linha {
    float: left;
    margin-left: 50px;
    margin-top: 30px;
    width: 70%;
    height: 2px;
    background: #b8b8b8;
  }
  div#footer {
    float: left;
    margin-left: 50px;
    margin-top: 500px;
    width: 200px;
    height: 10px;
  }
  div#footer p {
    font-family: Tahoma;
    color: #8e8e8e;
    font-size: 14px;
  }
  div.central {
    width: 30%;
    height: 40px;
    background: blue;
  }
}

@media screen and (min-width: 768px) {
  #nome {
    background: #cfc8f3;
    border: 1px solid #a981eb;
    border-radius: 5px;
    padding-top: 50px;
  }
  #nome p {
    font-family: Gabriola;
    font-weight: bold;
    color: #ce57ef;
    font-size: 28px;
    text-align: center;
  }
  h1.title {
    /* font-family: Gabriola; */
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    text-align: center;
  }
  div#box-um {
    float: left;
    margin-top: 10px;
    margin-left: -13px;
    width: 110%;
    height: 120%;
    background: #a981eb;
    border: 1px solid #a981eb;
    border-radius: 7px;
    padding: 10px 10px;
  }
  div#box-um div#janelaFotos-um {
    width: 99%;
    height: 800%;
    background: #e9e9e9;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    padding: 3px 3px;
  }
  div#box-um div#janelaFotos-um p {
    text-align: justify;
    padding: 15px;
    text-indent: 35px;
    font-family: Gabriola;
    font-size: 16px;
    width: 95%;
  }
  div#box-um div#janelaFotos-um p#um {
    text-align: justify;
    padding: 25px;
    text-indent: 35px;
    font-family: Gabriola;
    font-size: 16px;
  }
  div#box-um div#texto-tres {
    float: left;
    margin-top: 12px;
    padding: 10px 10px;
    width: 99%;
    height: 60%;
    background: #e9e9e9;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
  }
  div#box-um div#texto-tres p {
    text-align: justify;
    padding: 5px;
    text-indent: 35px;
    font-family: Gabriola;
    font-size: 16px;
    color: #000000;
  }
  .fotos-dois {
    width: 100%;
    height: 40%;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    padding: 20px;
  }
  div.dados span.onze {
    float: left;
    margin-left: 195px;
    margin-top: 245px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ce57ef;
    font-size: 22px;
    list-style-type: disc;
    position: absolute;
  }
  span#link {
    float: left;
    margin-left: -105px;
    margin-top: 15px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ce57ef;
    font-size: 28px;
    list-style-type: disc;
    position: absolute;
  }
  div#fotos-b {
    float: left;
    margin-top: 595px;
    margin-left: 620px;
    width: 390px;
    height: 310px;
    background: #e9e9e9;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    position: absolute;
    padding: 5px;
  }
  .fotos {
    /*background:red;*/
  }
  .fotos-um {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .fotos-um ul li {
    list-style: none;
  }
  .fotos-um ul li img {
    list-style: none;
    padding: 5px 5px;
  }
  .fotos-dois {
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    padding: 5px 10px;
    height: 220px;
    width: 92%;
    overflow: auto;
  }
  .fotos-dois span#dados-dois {
    float: left;
    margin-left: 180px;
    margin-top: 15px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ce57ef;
    font-size: 16px;
    list-style-type: disc;
  }
  .fotos-dois ul {
    float: left;
    margin-left: -294px;
    margin-top: 91px;
    font-family: Gabriola;
    font-weight: bold;
    color: #ce57ef;
    font-size: 16px;
    list-style-type: disc;
    display: inline;
    padding: 20px 10px;
  }
  .fotos-dois ul li.item {
    float: right;
    margin-left: -5px;
    margin-top: -15px;
    font-family: Gabriola;
    font-weight: bold;
    color: #ce57ef;
    font-size: 16px;
    list-style-type: disc;
    display: inline;
  }
  .fotos-dois ul li.item-um {
    float: right;
    margin-left: -30px;
    margin-top: -30px;
    font-family: Gabriola;
    font-weight: bold;
    color: #ce57ef;
    font-size: 16px;
    list-style-type: disc;
    display: inline;
  }
  .fotos-dois span#dados-seis {
    float: left;
    margin-left: 183px;
    margin-top: 35px;
    font-family: Arial;
    font-weight: bold;
    color: #ce57ef;
    font-size: 18px;
    list-style-type: disc;
  }
  div#fotos-dois li {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    list-style: none;
    overflow: hidden;
  }
  div#fotos-tres {
    float: left;
    margin-top: 1365px;
    margin-left: 620px;
    width: 390px;
    height: 300px;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    position: absolute;
  }
  div#fotos-tres li {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    list-style: none;
    overflow: hidden;
  }
  div#fotos-quatro {
    float: left;
    margin-top: 1805px;
    margin-left: 410px;
    width: 390px;
    height: 300px;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    position: absolute;
  }
  div#fotos-quatro li {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    list-style: none;
    overflow: hidden;
  }
  div#texto-dois {
    float: left;
    margin-top: 620px;
    margin-left: 620px;
    width: 400px;
    height: 400px;
    background: #e9e9e9;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    position: absolute;
  }
  div#texto-dois div#foto-dois {
    float: left;
    margin-left: 5px;
    margin-top: 40px;
  }
  div#texto-dois p {
    text-align: justify;
    padding: 15px;
    text-indent: 35px;
    font-family: Gabriola;
    font-size: 28px;
  }
  a#link-um {
    text-decoration: none;
    color: #000000;
  }
  div#espaco {
    float: left;
    width: 300px;
    height: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }
  div#linha {
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    width: 70%;
    height: 2px;
    background: #b8b8b8;
  }
  div#footer {
    float: left;
    margin-left: 50px;
    margin-top: 500px;
    width: 200px;
    height: 10px;
  }
  div#footer p {
    font-family: Tahoma;
    color: #8e8e8e;
    font-size: 14px;
  }
}

html,
body {
  height: 100%;
}

@media screen and (min-width: 992px) {
  #nome {
    background: #cfc8f3;
    border: 1px solid #a981eb;
    border-radius: 5px;
    padding-top: 50px;
  }
  #nome p {
    font-family: Gabriola;
    font-weight: bold;
    color: #ce57ef;
    font-size: 30px;
    text-align: center;
  }
  h1.title {
    /* font-family: Gabriola; */
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    font-size: 45px;
    text-align: center;
  }
  div#footer {
    float: left;
    margin-left: 50px;
    margin-top: 1000px;
    width: 200px;
    height: 10px;
  }
  div#footer p {
    font-family: Tahoma;
    color: #8e8e8e;
    font-size: 14px;
  }
  div#box-um {
    float: left;
    margin-top: 10px;
    margin-left: -15px;
    width: 97%;
    height: 110%;
    background: #a981eb;
    border: 1px solid #a981eb;
    border-radius: 7px;
    padding: 10px 10px;
  }
  div#box-um div#janelaFotos-um {
    width: 100%;
    height: 800%;
    background: #e9e9e9;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    padding: 3px 3px;
  }
  div#box-um div#janelaFotos-um p {
    text-align: justify;
    padding: 25px;
    text-indent: 35px;
    font-family: Gabriola;
    font-size: 20px;
    width: 90%;
  }
  div#box-um div#janelaFotos-um p#um {
    text-align: justify;
    padding: 25px;
    text-indent: 35px;
    font-family: Gabriola;
    font-size: 20px;
  }
  div#box-um div#texto-tres {
    padding: 10px 10px;
    width: 94%;
    height: 60%;
    background: #e9e9e9;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    float: left;
    margin-top: 12px;
  }
  div#box-um div#texto-tres p {
    text-align: justify;
    padding: 5px;
    text-indent: 35px;
    font-family: Gabriola;
    font-size: 20px;
    color: #000000;
  }
  .fotos-dois {
    width: 100%;
    height: 40%;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    padding: 20px;
  }
  div.dados span.onze {
    float: left;
    margin-left: 195px;
    margin-top: 245px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ce57ef;
    font-size: 22px;
    list-style-type: disc;
    position: absolute;
  }
  span#link {
    float: left;
    margin-left: -105px;
    margin-top: 15px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ce57ef;
    font-size: 28px;
    list-style-type: disc;
    position: absolute;
  }
  div#fotos-b {
    float: left;
    margin-top: 595px;
    margin-left: 620px;
    width: 390px;
    height: 310px;
    background: #e9e9e9;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    position: absolute;
    padding: 5px;
  }
  .fotos {
    /*background:red;*/
  }
  .fotos-um {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .fotos-um ul li img {
    list-style: none;
    padding: 10px 5px;
  }
  .fotos-dois span#dados-dois {
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ce57ef;
    font-size: 16px;
    list-style-type: disc;
  }
  .fotos-dois {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    padding: 5px 10px;
    height: 300px;
    width: 80%;
    overflow: auto;
  }
  .fotos-dois span#dados-dois {
    float: left;
    margin-left: 15px;
    margin-top: 23px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ce57ef;
    font-size: 16px;
    list-style-type: disc;
    width: 50%;
  }
  .fotos-dois ul {
    float: left;
    margin-left: -196px;
    margin-top: 51px;
    font-family: Gabriola;
    font-weight: bold;
    color: #ce57ef;
    font-size: 16px;
    list-style-type: disc;
    display: inline;
    padding: 20px 10px;
    position: absolute;
  }
  .fotos-dois ul li.item {
    float: right;
    margin-left: 2px;
    margin-top: 65px;
    font-family: Gabriola;
    font-weight: bold;
    color: #ce57ef;
    font-size: 16px;
    list-style-type: disc;
    display: inline;
  }
  .fotos-dois ul li.item-um {
    float: right;
    margin-left: -35px;
    margin-top: 50px;
    font-family: Gabriola;
    font-weight: bold;
    color: #ce57ef;
    font-size: 16px;
    list-style-type: disc;
    display: inline;
  }
  .fotos-dois span#dados-seis {
    float: left;
    margin-left: -165px;
    margin-top: 75px;
    font-family: Arial;
    font-weight: bold;
    color: #ce57ef;
    font-size: 16px;
    list-style-type: disc;
    position: absolute;
  }
  div#fotos-dois li {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    list-style: none;
    overflow: hidden;
  }
  div#fotos-tres {
    float: left;
    margin-top: 1365px;
    margin-left: 620px;
    width: 390px;
    height: 300px;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    position: absolute;
  }
  div#fotos-tres li {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    list-style: none;
    overflow: hidden;
  }
  div#fotos-quatro {
    float: left;
    margin-top: 1805px;
    margin-left: 410px;
    width: 390px;
    height: 300px;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    position: absolute;
  }
  div#fotos-quatro li {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    list-style: none;
    overflow: hidden;
  }
  div#texto-dois {
    float: left;
    margin-top: 620px;
    margin-left: 620px;
    width: 400px;
    height: 400px;
    background: #e9e9e9;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    position: absolute;
  }
  div#texto-dois div#foto-dois {
    float: left;
    margin-left: 5px;
    margin-top: 40px;
  }
  div#texto-dois p {
    text-align: justify;
    padding: 15px;
    text-indent: 35px;
    font-family: Gabriola;
    font-size: 28px;
  }
  a#link-um {
    text-decoration: none;
    color: #000000;
  }
  div#espaco {
    float: left;
    width: 300px;
    height: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }
  div#linha {
    float: left;
    margin-left: 100px;
    margin-top: 50px;
    width: 70%;
    height: 2px;
    background: #b8b8b8;
  }
}

@media screen and (min-width: 1200px) {
  #nome {
    background: #cfc8f3;
    border: 1px solid #a981eb;
    border-radius: 5px;
    padding-top: 50px;
  }
  #nome p {
    font-family: Gabriola;
    font-weight: bold;
    color: #ce57ef;
    font-size: 30px;
    text-align: center;
  }
  h1.title {
    /* font-family: Gabriola; */
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    font-size: 45px;
    text-align: center;
  }
  div#footer {
    float: left;
    margin-left: 50px;
    margin-top: 1000px;
    width: 200px;
    height: 10px;
  }
  div#footer p {
    font-family: Tahoma;
    color: #8e8e8e;
    font-size: 14px;
  }
  div#box-um {
    float: left;
    margin-top: 10px;
    margin-left: -15px;
    width: 97%;
    height: 110%;
    background: #a981eb;
    border: 1px solid #a981eb;
    border-radius: 7px;
    padding: 10px 10px;
  }
  div#box-um div#janelaFotos-um {
    width: 100%;
    height: 800%;
    background: #e9e9e9;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    padding: 3px 3px;
  }
  div#box-um div#janelaFotos-um p {
    text-align: justify;
    padding: 25px;
    text-indent: 35px;
    font-family: Gabriola;
    font-size: 20px;
    width: 90%;
  }
  div#box-um div#janelaFotos-um p#um {
    text-align: justify;
    padding: 25px;
    text-indent: 35px;
    font-family: Gabriola;
    font-size: 20px;
  }
  div#box-um div#texto-tres {
    padding: 10px 10px;
    width: 94%;
    height: 60%;
    background: #e9e9e9;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    float: left;
    margin-top: 12px;
  }
  div#box-um div#texto-tres p {
    text-align: justify;
    padding: 5px;
    text-indent: 35px;
    font-family: Gabriola;
    font-size: 20px;
    color: #000000;
  }
  .fotos-dois {
    width: 100%;
    height: 40%;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    padding: 20px;
  }
  div.dados span.onze {
    float: left;
    margin-left: 195px;
    margin-top: 245px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ce57ef;
    font-size: 22px;
    list-style-type: disc;
    position: absolute;
  }
  span#link {
    float: left;
    margin-left: -105px;
    margin-top: 15px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ce57ef;
    font-size: 28px;
    list-style-type: disc;
    position: absolute;
  }
  div#fotos-b {
    float: left;
    margin-top: 595px;
    margin-left: 620px;
    width: 390px;
    height: 310px;
    background: #e9e9e9;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    position: absolute;
    padding: 5px;
  }
  .fotos {
    /*background:red;*/
  }
  .fotos-um {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .fotos-um ul li img {
    list-style: none;
    padding: 10px 5px;
  }
  .fotos-dois {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    padding: 5px 10px;
    height: 300px;
    width: 80%;
    overflow: auto;
  }
  .fotos-dois span#dados-dois {
    float: left;
    margin-left: 15px;
    margin-top: 23px;
    font-family: Tahoma;
    font-weight: bold;
    color: #ce57ef;
    font-size: 16px;
    list-style-type: disc;
    width: 50%;
  }
  .fotos-dois ul {
    float: left;
    margin-left: -233px;
    margin-top: 45px;
    font-family: Gabriola;
    font-weight: bold;
    color: #ce57ef;
    font-size: 16px;
    list-style-type: disc;
    display: inline;
    padding: 20px 10px;
    position: absolute;
  }
  .fotos-dois ul li.item {
    float: right;
    margin-left: 2px;
    margin-top: 65px;
    font-family: Gabriola;
    font-weight: bold;
    color: #ce57ef;
    font-size: 16px;
    list-style-type: disc;
    display: inline;
  }
  .fotos-dois span#dados-seis {
    float: left;
    margin-left: -208px;
    margin-top: 77px;
    font-family: Arial;
    font-weight: bold;
    color: #ce57ef;
    font-size: 18px;
    list-style-type: disc;
  }
  div#fotos-dois li {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    list-style: none;
    overflow: hidden;
  }
  div#fotos-tres {
    float: left;
    margin-top: 1365px;
    margin-left: 620px;
    width: 390px;
    height: 300px;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    position: absolute;
  }
  div#fotos-tres li {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    list-style: none;
    overflow: hidden;
  }
  div#fotos-quatro {
    float: left;
    margin-top: 1805px;
    margin-left: 410px;
    width: 390px;
    height: 300px;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    position: absolute;
  }
  div#fotos-quatro li {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    list-style: none;
    overflow: hidden;
  }
  div#texto-dois {
    float: left;
    margin-top: 620px;
    margin-left: 620px;
    width: 400px;
    height: 400px;
    background: #e9e9e9;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    position: absolute;
  }
  div#texto-dois div#foto-dois {
    float: left;
    margin-left: 5px;
    margin-top: 40px;
  }
  div#texto-dois p {
    text-align: justify;
    padding: 15px;
    text-indent: 35px;
    font-family: Gabriola;
    font-size: 28px;
  }
  a#link-um {
    text-decoration: none;
    color: #000000;
  }
  div#espaco {
    float: left;
    width: 300px;
    height: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }
  div#linha {
    float: left;
    margin-left: 100px;
    margin-top: 50px;
    width: 70%;
    height: 2px;
    background: #b8b8b8;
  }
}

nav.navbar-default {
  background: #554176;
  /*  background: #E1C9EA;*/
}

.navbar-default .navbar-nav>li>a {
  color: #e1c9ea;
  font-family: Trebuchet;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #f7f7f7;
  background: #3c6eb0;
}

.fotos-doisB img {
  width: 80%;
  height: 180%;
  margin-top: 22px;
}

@media screen and (max-width: 800px) {
  .fotos-doisB {
    width: 100%;
    height: 412px;
    margin-left: 1px;
  }
  .fotos-doisB img {
    width: 100%;
    height: 380px;
    margin-top: 1px;
    /* background: red; */
  }
}

.fotos-dois {
  float: left;
  margin-top: -160px;
  margin-left: 15px;
  background: #cfc8f3;
  border: 1px solid #b676d6;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 30px;
  height: 245px;
  width: 98%;
  overflow: auto;
}

@media screen and (max-width: 800px) {
  .fotos-dois {
    float: left;
    margin-top: 30px;
    margin-left: 15px;
    background: #cfc8f3;
    border: 1px solid #b676d6;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 30px;
    height: 200px;
    width: 98%;
    overflow: auto;
  }
  .fotos-dois span#dados-dois {
    margin-left: -42px;
  }
}

.fotos-dois span#dados-dois img {
  margin-left: 40px;
}

.fotos-dois {
  margin-left: 10px;
}

@media screen and (min-width: 1000px) {
  .fotos-dois ul li.item-um {
    float: right;
    margin-left: -30px;
    margin-top: 49px;
  }
  .fotos-dois ul li.item {
    float: right;
    margin-left: 0px;
    margin-top: 65px;
    list-style-type: disc;
  }
}

@media screen and (max-width: 800px) {
  .display {
    display: none;
  }
}